[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
pre-commit = "*"
pytest-cov = "*"
coveralls = "*"
sphinx = "*"

[packages]
pycryptodome = "*"
base58 = "*"
ecdsa = "*"
ed25519 = "*"
factom-api = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
